* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebebeb;
}

.text-primary_1 i {
    color: #3EC70B!important;
}

.list-unstyled a,
p {
    color: #000000;
    text-decoration: none;
}

.list-unstyled a:hover {
    color: #3EC70B;
    text-decoration: none;
}

#pricing .block-pricing {
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    width: 100%
}

#pricing .block-pricing .table {
    margin-bottom: 0;
    padding: 20px 5px;
    max-width: 100%;
    width: 100%
}

.block-pricing li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-custom {
    background-color: #3AB4F2;
}

.bg-footer {
    background-color: #7FB77E;
}

.icon a {
    color: white;
}

.nav-link {
    font-size: 14px;
    color: #000 !important;
    font-weight: bold;
}


/* header */

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: linear-gradient(-90deg, #d38312, #a83279);
}

.brand-wrap {
    text-decoration: none !important
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.search-button {
    color: #007bff;
    border-color: #ffffff;
}

.navbar-main {
    background-color: #EEEEEE
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.37rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler-icon {
    background-image: url(https://img.icons8.com/ios/50/000000/menu.png) !important
}

.nav-link {
    color: #1C6758 !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-transform: uppercase;
}

.nav-item :hover {
    color: #3EC70B !important;
}

.vl {
    border-left: 1px solid #fff;
    height: 100%
}

.fas {
    color: #fff
}

.login {
    color: white
}

.list-unstyled .fas {
    color: #000;
}

.top-header .fas {
    color: #000;
}

.section-title,
.text-pink-gradient {
    font-weight: 600;
    font-style: normal;
    letter-spacing: .01em;
}

.section-title {
    font-size: 20px;
    line-height: 155%;
    color: #000000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.page-section {
    padding: 24px 40px;
}